.container_filter {
	position: absolute;
	width: 90%;
	max-width: vars.rem(1110);
	min-width: vars.rem(330);
	padding: 0 vars.rem(25);
	left: 50%;
	height: vars.rem(75);
	background: #fff;
	border-radius: vars.rem(8);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	transform: translate(-50%, -50%);
	@include vars.flexer(center, space-between);

	.filters {
		@include vars.flexer();
	}

	.filter {
		// width: vars.rem(110);
		height: vars.rem(35);
		border-radius: vars.rem(4);
		overflow: hidden;
		@include vars.flexer(center);
		margin-right: vars.rem(18);

		& > * {
			height: 100%;
			padding: 0 vars.rem(11);
			display: grid;
			place-items: center;
			font-weight: 700;
		}

		.value {
			color: vars.$des-dark-cyan;
			background: vars.$light-grayish-cyan;
		}

		.closer {
			background: vars.$des-dark-cyan;
			font-size: vars.rem(25);
			color: #fff;
			cursor: pointer;
			transition: background 0.3s;

			&:hover {
				background: vars.$very-dark-grayisher-cyan;
			}
		}
	}
}
