.job {
	width: 100%;
	@include vars.flexer(center, space-between);
	height: vars.rem(150);
	background: #fff;
	border-radius: vars.rem(4);
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
	// overflow: hidden;
	position: relative;
	padding: 0 vars.rem(25);
	flex-wrap: wrap;

	@include vars.media(tablet-wide, max) {
		flex-direction: column;
		justify-content: space-between;

		min-height: vars.rem(300);
		height: auto;
		padding: vars.rem(33) vars.rem(25) vars.rem(25);
	}

	&.featured {
		border-left: vars.rem(4) solid vars.$des-dark-cyan;
	}

	&:not(:last-child) {
		margin-bottom: vars.rem(20);

		@include vars.media(tablet-wide, max) {
			margin-bottom: vars.rem(50);
		}
	}
	img {
		margin-right: vars.rem(20);
		@include vars.media(tablet-wide, max) {
			position: absolute;
			margin: 0;
			width: vars.rem(50);
			left: vars.rem(25);
			top: 0;
			transform: translateY(-50%);
		}
	}

	.left,
	.right {
		@include vars.flexer(center, start);
		flex: 1;

		@include vars.media(tablet-wide, max) {
			width: 100%;
		}
	}

	.left {
		@include vars.media(tablet-wide, max) {
			justify-content: center;
		}
	}

	.right {
		justify-content: end;
		flex-wrap: wrap;
		@include vars.media(tablet-wide, max) {
			justify-content: center;
		}
		@include vars.media(tablet-small, max) {
			justify-content: start;
		}
	}

	.name {
		font-size: vars.rem(14);
		color: vars.$des-dark-cyan;
	}
	.upper {
		width: vars.rem(240);
		@include vars.flexer(center, start);

		@include vars.media(tablet-wide, max) {
			justify-content: center;
		}
		@include vars.media(tablet-small, max) {
			justify-content: start;
		}
	}
	.lower {
		@include vars.flexer(center, start);
		color: vars.$dark-grayisher-cyan;
		position: relative;
	}

	.dot {
		height: 100%;
		font-weight: 700;
		transform: translateY(-10%);
		margin: 0 vars.rem(10);
	}

	.new,
	.featured {
		padding: vars.rem(4) vars.rem(9);
		border-radius: 9999px;
		font-size: vars.rem(10);
		font-weight: 700;
		color: #fff;
	}
	.new {
		margin: 0 vars.rem(9);
		background: vars.$des-dark-cyan;
	}
	.featured {
		background: vars.$very-dark-grayisher-cyan;
	}

	.job_name {
		font-size: vars.rem(17);
		margin: vars.rem(10) auto vars.rem(15);
	}

	.sticker {
		padding: vars.rem(9);
		color: vars.$des-dark-cyan;
		background: vars.$light-grayish-cyan;
		border-radius: vars.rem(4);
		font-weight: 700;
		font-size: vars.rem(13);
		cursor: pointer;
		user-select: none;
		transition: background 0.3s, color 0.3s;
		&:not(:last-child) {
			margin-right: vars.rem(20);
		}

		&.active {
			color: #fff;
			background: vars.$des-dark-cyan;
		}
	}

	hr {
		min-width: vars.rem(280);
		width: 80%;
		bottom: red;
		display: none;

		@include vars.media(tablet-wide, max) {
			display: block;
			// margin: vars.rem(24) auto vars.rem(16);
			margin-bottom: vars.rem(16);
		}
	}
}
