.container_jobs {
	height: auto;
	margin: vars.rem(75) auto;
	width: 90%;
	max-width: vars.rem(1110);
	min-width: vars.rem(330);

	@include vars.media(tablet-wide, max) {
		margin-top: vars.rem(140);
	}
}
