<script>
	import '../css/style.css';
</script>

<svelte:head>
	<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />

	<title>Frontend Mentor | Job Listings</title>
</svelte:head>

<div class="banner" />
<slot />
