<script>
	import Filter from '../components/Filter.svelte';

	import JobList from '../components/JobList.svelte';
	import { jobs } from '../js/index';

	let selected = {}; //element we will pass to our filter bar for filtering - it will contains value of the element we clicked and his key (language, role, etc)
	let works = jobs;

	works = works.map((work) => (work = { ...work, filtered: false }));
	let filteredWorks = works;

	const toggle = (e) => {
		//Toggle the class on the right elements when clicked
		e.target.classList.toggle('active');
		setSelected(e);
	};
	const setSelected = (params) => {
		let activeAsset = params.target.getAttribute('data-asset');
		let activeText = params.target.innerText;

		//check if selected already has the key on the value we click on
		if (selected.hasOwnProperty(activeAsset)) {
			//check if we click on the same value that is in selected
			if (selected[activeAsset].includes(activeText)) {
				//check if the key of the value we click is an array (in order to contain more than 1 value)
				removeFilter(activeAsset, activeText);
			} else {
				let prev = selected[activeAsset];
				if (typeof prev != 'string') {
					//we add the value we click on
					selected[activeAsset] = [...prev, activeText];
				} else {
					// we replace the value of the current key by an array with all the values of the current key
					selected[activeAsset] = [prev, activeText];
				}
			}
		} else {
			selected[activeAsset] = [activeText]; // we create this key in selected
		}

		selected[activeAsset] = selected[activeAsset];
	};

	const removeFilter = (target, value) => {
		if (selected[target].length - 1 > 0) {
			//we remove the clicked element from the array
			selected[target] = selected[target].filter((s) => s != value);
		} else {
			// we delete the key
			delete selected[target];
		}
		selected[activeAsset] = selected[activeAsset];
	};
</script>

<Filter {selected} {removeFilter} />
<JobList jobs={works} {toggle} {selected} />
