@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	line-height: 1.5;
	font-family: 'Spartan', sans-serif;
	font-size: funcs.rem(15);
	background: colors.$light-grayisher-cyan;
}
a,
a:visited,
a:focus {
	text-decoration: none;
	color: unset;
	cursor: pointer;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
