$des-dark-cyan: hsl(180, 29%, 50%);
$light-grayisher-cyan: hsl(180, 52%, 96%); //background
$light-grayish-cyan: hsl(180, 31%, 95%); //filter tablets
$dark-grayisher-cyan: hsl(180, 8%, 52%);
$very-dark-grayisher-cyan: hsl(180, 14%, 20%);
