<script>
	export let selected;
	export let removeFilter;

	// $: {
	// 	console.log(selected);
	// }
</script>

<div class="container_filter">
	<div class="filters">
		{#each Object.entries(selected) as [key, value]}
			{#if typeof value != 'string'}
				{#each value as val}
					<div class="filter" data-asset={key}>
						<div class="value">{val}</div>
						<ion-icon name="close-outline" class="closer" on:click={() => removeFilter(key, val)} />
					</div>
				{/each}
			{/if}
		{/each}
	</div>
	<p>Clear</p>
</div>
