<script>
	export let job;
	export let toggle;

	let assets = {
		role: job.role,
		level: job.level,
		languages: job.languages,
		tools: job.tools
	};
</script>

<li class={`job ${job.featured && 'featured'} `}>
	<div class="left">
		<img src={`/src/${job.logo}`} alt="" />
		<div class="infos">
			<div class="upper">
				<h1 class="name">{job.company}</h1>
				{#if job.new}
					<p class="new">NEW!</p>
				{/if}
				{#if job.featured}
					<p class="featured">FEATURED</p>
				{/if}
			</div>
			<h2 class="job_name">{job.position}</h2>
			<div class="lower">
				<p>{job.postedAt}</p>
				<p class="dot">.</p>
				<p>{job.contract}</p>
				<p class="dot">.</p>
				<p>{job.location}</p>
			</div>
		</div>
	</div>

	<hr />

	<div class="right">
		{#each Object.entries(assets) as [key, value]}
			{#if typeof value == 'object'}
				{#each value as val}
					<div class="sticker" data-asset={key} on:click={toggle}>{val}</div>
				{/each}
			{:else}
				<div class="sticker" data-asset={key} on:click={toggle}>{value}</div>
			{/if}
		{/each}
	</div>
</li>
