<script>
	import Job from './Job.svelte';

	export let jobs;
	export let toggle;
	export let selected;

	let filteredWorks = jobs.map((job) => (job = { ...job, filtered: false }));

	$: {
		let filteredWorks = new Array();

		jobs.map((job) => {
			job.filtered = true;

			Object.entries(selected).forEach((entry) => {
				let [key, value] = entry;

				value.map((val) => {
					if (job.filtered) {
						if (typeof job[key] == 'string') {
							if (job[key] == val) {
								return;
							} else {
								job.filtered = false;
							}
						} else if (typeof job[key] == 'object') {
							if (job[key].includes(val)) {
								return;
							} else {
								job.filtered = false;
							}
						}
					} else {
						return;
					}
				});
			});

			if (job.filtered) {
				// filteredjobs = filteredWorks;
				filteredWorks = [...filteredWorks, job];
			}
		});
		console.log(filteredWorks);
	}
</script>

<ul class="container_jobs">
	{#each filteredWorks as job}
		<Job {job} {toggle} />
	{/each}
</ul>
