@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
.job, .job .left,
.job .right, .job .upper, .job .lower, .container_filter, .container_filter .filters, .container_filter .filter {
  display: flex;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Spartan", sans-serif;
  font-size: 0.9375rem;
  background: #effafa;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.banner {
  height: 9.375rem;
  background: #5ba4a4 url("/src/images/bg-header-desktop.svg") center center/cover;
}

.container_jobs {
  height: auto;
  margin: 4.6875rem auto;
  width: 90%;
  max-width: 69.375rem;
  min-width: 20.625rem;
}
@media only screen and (max-width: 1023px) {
  .container_jobs {
    margin-top: 8.75rem;
  }
}

.job {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 9.375rem;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0 1.5625rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1023px) {
  .job {
    flex-direction: column;
    justify-content: space-between;
    min-height: 18.75rem;
    height: auto;
    padding: 2.0625rem 1.5625rem 1.5625rem;
  }
}
.job.featured {
  border-left: 0.25rem solid #5ba4a4;
}
.job:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 1023px) {
  .job:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.job img {
  margin-right: 1.25rem;
}
@media only screen and (max-width: 1023px) {
  .job img {
    position: absolute;
    margin: 0;
    width: 3.125rem;
    left: 1.5625rem;
    top: 0;
    transform: translateY(-50%);
  }
}
.job .left,
.job .right {
  align-items: center;
  justify-content: start;
  flex-direction: row;
  flex: 1;
}
@media only screen and (max-width: 1023px) {
  .job .left,
.job .right {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .job .left {
    justify-content: center;
  }
}
.job .right {
  justify-content: end;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1023px) {
  .job .right {
    justify-content: center;
  }
}
@media only screen and (max-width: 639px) {
  .job .right {
    justify-content: start;
  }
}
.job .name {
  font-size: 0.875rem;
  color: #5ba4a4;
}
.job .upper {
  width: 15rem;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
@media only screen and (max-width: 1023px) {
  .job .upper {
    justify-content: center;
  }
}
@media only screen and (max-width: 639px) {
  .job .upper {
    justify-content: start;
  }
}
.job .lower {
  align-items: center;
  justify-content: start;
  flex-direction: row;
  color: #7b8e8e;
  position: relative;
}
.job .dot {
  height: 100%;
  font-weight: 700;
  transform: translateY(-10%);
  margin: 0 0.625rem;
}
.job .new,
.job .featured {
  padding: 0.25rem 0.5625rem;
  border-radius: 9999px;
  font-size: 0.625rem;
  font-weight: 700;
  color: #fff;
}
.job .new {
  margin: 0 0.5625rem;
  background: #5ba4a4;
}
.job .featured {
  background: #2c3a3a;
}
.job .job_name {
  font-size: 1.0625rem;
  margin: 0.625rem auto 0.9375rem;
}
.job .sticker {
  padding: 0.5625rem;
  color: #5ba4a4;
  background: #eef6f6;
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 0.8125rem;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s, color 0.3s;
}
.job .sticker:not(:last-child) {
  margin-right: 1.25rem;
}
.job .sticker.active {
  color: #fff;
  background: #5ba4a4;
}
.job hr {
  min-width: 17.5rem;
  width: 80%;
  bottom: red;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .job hr {
    display: block;
    margin-bottom: 1rem;
  }
}

.container_filter {
  position: absolute;
  width: 90%;
  max-width: 69.375rem;
  min-width: 20.625rem;
  padding: 0 1.5625rem;
  left: 50%;
  height: 4.6875rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container_filter .filters {
  align-items: start;
  justify-content: center;
  flex-direction: row;
}
.container_filter .filter {
  height: 2.1875rem;
  border-radius: 0.25rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 1.125rem;
}
.container_filter .filter > * {
  height: 100%;
  padding: 0 0.6875rem;
  display: grid;
  place-items: center;
  font-weight: 700;
}
.container_filter .filter .value {
  color: #5ba4a4;
  background: #eef6f6;
}
.container_filter .filter .closer {
  background: #5ba4a4;
  font-size: 1.5625rem;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}
.container_filter .filter .closer:hover {
  background: #2c3a3a;
}

.container {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
